<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:enrich:with-property:ApplicationName" value="PdfGenerator" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="c:\log\PdfGenerator{Date}.log" />
    <add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:enrich:WithProcessId" />
    <add key="serilog:enrich:WithMachineName" />
    <add key="serilog:enrich:WithEnvironmentUserName" />
    <add key="serilog:using:Process" value="Serilog.Enrichers.Process" />
    <add key="serilog:using:Environment" value="Serilog.Enrichers.Environment" />
    <add key="serilog:enrich:WithExceptionDetails" />
    <add key="serilog:using:Exceptions" value="Serilog.Exceptions" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>